h1 {
  /*padding: 70px 0;*/
  text-align: center;
}

#resultsContainer{
  text-align: center;
  margin: 50px 0 0 0;
}



#header {
  padding: 100px 0 0 20px;
}

#avatar {
  width: 50px;
  height: auto;
}

#logo {
  display: block;
  margin: 0 auto;
}


#inputContainer {
  text-align: center;
}

#textBox {
  width: 400px;
  display: inline;
  margin-right: -4px;
}
