body {
  background: url(../assets/overwatch-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header p {
  font-size: 6vw;
  text-align: center;
  margin-bottom: 0px;
  font-family: Overwatch;
}

#header {
    margin-top: 100px;
  padding: 50px 0 30px 0;
}

#avatar {
  width: 50px;
  height: auto;
}

#logo {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}

/*main page*/
#errorMessage {
  color: red;
  text-align: center;
}

#mainContainer {
  margin: 100 0 100 0;
  /*background-color: grey;*/
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  border-radius: 20px;
  padding: 20px;
  /* min-height: 95px; */
}

#tagInput, #idInput, #regionInput, #enterButton {
  display: inline-block;
}

#enterButton {
    top: -2px;
    position: relative;
}

#idInput {
  width: calc(100% - 250px)
}

#tagInput {
  width: 75px;
}

#regionInput {
  width: 80px;
}

#inputContainer {
  margin-bottom: 0px
}

#username {
  font-family: Overwatch;
  font-size: 30px;
  color: 	#ff9900;
}

#resultsContainer{
  text-align: center;
  margin: 50px 0 0 0;
}

#resultsbox2 p {
  vertical-align: middle;
}

@font-face {
  font-family: "Overwatch";
  src: url("https://us.battle.net/forums/static/fonts/bignoodletoo/bignoodletoo.woff") format('woff');
}
